@use '../base/custom' as *;
@use '../base/mixins' as *;

// GLOBALS
a,
.nav-link {
    &:hover {
        color: $light;
    }
}
.nav-link-offcanvas {
    color: $dark;
    text-decoration: none;
    padding: 0.6rem 0;
    font-size: 1.4rem;
    &:hover {
        color: $light;
    }
}

