@use '../base/custom' as *;
@use '../base/mixins' as *;

// GLOBALS

body {
    background-color: $white;
}
a,
.nav-link {
    &:hover {
        color: $white;
    }
}
.nav-link-offcanvas {
    color: $dark;
    text-decoration: none;
    padding: 0.6rem 0;
    font-size: 1.4rem;
    &:hover {
        color: $white;
    }
}

i, li {

    &:hover {
        color: $primary;
        cursor: pointer;
    }
}

table {
    font-size: 1em;
    text-align: center;
}

// transicion entre páginas 


.fadein {

    animation: fadein 2s;

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

}