@use '../base/custom' as *;
@use '../base/mixins' as *;

.footer {
    font-size: 1.2rem;

    &__sociales {

        color: $white;

        i {
            color: $white;

        }

        &--facebook {
            border: 0.2rem solid $facebook;
            padding: 0.2rem 0.5rem;
            border-radius: 25%;

            &:hover {
                color: $facebook;
            }
        }
        &--instagram {
            border: 0.2rem solid $instagram;
            padding: 0.2rem 0.5rem;
            border-radius: 25%;
            &:hover {
                color: $instagram;
            }
        }
        &--whatsapp {
            border: 0.2rem solid $primary;
            padding: 0.2rem 0.5rem;
            border-radius: 25%;
            &:hover {
                color: $primary;
            }
        }
    }
}
.logo__footer {
    max-width: 8rem;
}

.mapa {

    iframe {
        height: 15rem;
        width: auto;
        padding: 0rem;
        border-width: 0rem;
        margin: 0rem;
        touch-action: pan-x pan-y;
        
    }
  
}

.footer__contact__tel {

    color: $light;

    padding: 0 0 0 1.8rem;
    &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;

        filter: invert(1);

        background-image: url('../img/telephone.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:hover {
        color: $primary;
    }
}

.footer__contact__email {
    color: $light;

    padding: 0 0 0 1.8rem;
    &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        filter: invert(1);

        background-image: url('../img/envelope.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }

    &:hover {
        color: $primary;
    }
}