@use '../base/custom' as *;
@use '../base/mixins' as *;


.serveis {
    overflow: hidden;
 
    &__texto {
        font-size: 1.4rem;
    }
}
.wave {
    transform: scale(1.3);

    &-down {
        margin: -0.8rem 0 0 0;
    }
    &-top {
        margin: 0 0 -0.8rem 0;
    }
    @include media-breakpoint-up(md){
        transform: scale(1.1);
        &-down {
            margin: -0.3rem 0 0 0;
        }
        &-top {
            margin: 0.2rem 0 0 0;
        }
    }   
    
}

.button-serveis {
    border: 0.1rem outset $dark;
    background-color: $white;

    border-radius: 1rem;
    padding: 0.3rem 2rem;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
    
    a {
        color: $dark;
        text-decoration: none;
        transition: all ease-in-out 0.5s;
    }

    &:hover {
        background-color: $dark;
        a {
            color: $white;
        }
    }
}
.button-serveis-2 {
    border: 0.1rem outset $primary;
    background-color: transparent;

    border-radius: 1rem;
    padding: 0.3rem 2rem;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
    
    a {
        color: $dark;
        text-decoration: none;
        transition: all ease-in-out 0.5s;
    }

    &:hover {
        background-color: $primary;
        a {
            color: $white;
        }
    }
}