@use '../base/custom' as *;
@use '../base/mixins' as *;

.serveis__page {

    h3 {
        font-size: 1.2rem;

        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }

    }

    p {
        font-size: 0.8rem;
        @include media-breakpoint-up(md) {
            font-size: 1.2rem;
        }
    }
    
}